$backgroundColor: #f7f2ed;
$btnColor: rgba(0, 0, 0, 0.8);
$font: Rubik;

.selection {
    margin-left: 1em;
    
    input {
        margin-right: 1em;
    }


}



.my-next-trip {
    font-weight: bold;
    margin-top: 2em;
}


.add-location {
    border: none;
    border-bottom: 1px solid black;
    background-color: $backgroundColor;
}

i {
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
        color: $btnColor;
    }
}

.dt {
    background-color: $backgroundColor;
    border: none;
    border-bottom: 1px solid black;
    font-family: $font;
}

.dt-label {
    font-family: $font;
}

