$backgroundColor: #f7f2ed;
$btnColor: rgba(0, 0, 0, 0.8);
$font: Rubik;

.add-location {
    border: none;
    border-bottom: 1px solid black;
    background-color: $backgroundColor;
}

.add-tripBtn {
    border-radius: 50%;
    background-color: $btnColor;
    color: $backgroundColor;
    font-weight: bold;
    // font-size: 15px;
    // margin-right: 27%;
}

.dt {
    background-color: $backgroundColor;
    border: none;
    border-bottom: 1px solid black;
    font-family: $font;
}

.dt-label {
    font-family: $font;
}
